
html, body {
    margin: 0;
}

body {
    background-image: url(../images/cafe.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans';
    font-weight: 300;
}

h2 {
    font-family: 'Dancing Script';
    font-weight: 600;
    font-size: xx-large;
    color: rgb(88, 68, 57);
    text-shadow: 1px 1px 2px rgb(54, 54, 54);
}

.contenedor {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: rgba(158, 125, 107, 0.788);
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    margin: 20px;
}

.login-form__field {
    margin-bottom: 10px;
}

.login-form__field input {
    width: 230px;
    max-width: 100%;
    height: 30px;
    border: 1px solid rgb(88, 68, 57);
    border-radius: 5px;
    font-size: 18px;
}

input#check {
    width: auto;
    height: 20px;
    width: 20px;
}

input#email {
    background-image: url(../images/mail.png);
    background-repeat: no-repeat;
    background-position: 5px;
    padding-left: 35px;
    color: rgb(88, 68, 57);
}

input#password {
    background-image: url(../images/key2.png);
    background-repeat: no-repeat;
    background-position: 5px;
    padding-left: 35px;
    
}

[for="check"] {
    font-size: 13px;
    position: relative;
    top: -5px;
    margin-left: 7px;
    color: blanchedalmond;
}

.login-form___button--button {
    background-color: rgb(88, 68, 57);
    border: 0;
    padding: 10px;
    margin-top: 30px;
    font-size: 18px;
    font-family: 'Open Sans';
    color: cornsilk;
    border-radius: 5px;
}